{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->

<script src="https://kit.fontawesome.com/5a2b925216.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<br>
  <br>
  <br>
  <br>
<body>

  <div class="container">

  
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Please fill your profile in order to get jobs results</strong>
</div>
    <div class="row">
      <div class="col l3 s12  ">
        <div class="card">
          <div class="card-image">
            <img alt="Qries" src ="" width="150" height="200">
          </div>
          <center>

            <div class="card-content">
            <div  class="right-align" >
              <a class="btn-floating btn-small waves-effect waves-light green modal-trigger " href="#demo-modal-fixed-footer"><i class=" tiny material-icons">create</i></a> <Br>
              </div>
              <br>
              <h6> <b>Jonathan Lewis </b></h6>
              <span>
<small><b><i class="fas fa-edit"></i> Add Headline </small></b> <br>
<small><b><i class="fas fa-edit"></i>Add Current Company </small> </b> <br>
<small><b><i class="fas fa-edit"></i> Add Current job position </small> </b> <br>

<small><b><i class="fas fa-edit"></i> Add Year of Experience </small> </b> <br>

</span>
            </div>
          </center>
          {% comment %} <div class="card-action">
            <center>
              <button class="btn waves-effect waves-light" type="submit" name="action">Download Resume
                <i class="material-icons left">file_download</i>
              </button>
            </center>
          </div> {% endcomment %}
        </div>

      </div>
      <div class="col s12  m6 l6">
        <div class="card-panel ">
          <div  class="right-align" >
            <a class="btn-floating btn-small waves-effect waves-light green modal-trigger " href="#demo-modal1-fixed-footer"><i class=" tiny material-icons">create</i></a>
            <a class="btn-floating btn-small waves-effect waves-light green modal-trigger " href="#demo-modal5-fixed-footer"><i class=" tiny material-icons">add</i></a>
            <Br>
            </div>
          <h6> <b>Skills </b> <i class="tiny material-icons 2x"> input</i> </h6> <br>
                  <span>
<small><b><i class="fas fa-edit"></i> Add Skills </small></b> <br>

</span>
<!--           <p> java(4),python(5)</p>-->
<!--          <div class="row">-->
<!--            <div class="col s6">-->
<!--              <p> UX / UI Designer</p>-->
<!--            </div>-->
<!--            <div class="col s6">-->
<!--              <p>Back-end development </p>-->
<!--            </div>-->
<!--            <div class="col s6">-->
<!--              <p>Front-End developer </p>-->
<!--            </div>-->
<!--            <div class="col s6">-->
<!--              <p>Application development </p>-->
<!--            </div>-->

<!--            <div class="col s6">-->
<!--              <p> UX / UI Designer</p>-->
<!--            </div>-->
<!--            <div class="col s6">-->
<!--              <p> UX / UI Designer</p>-->
<!--            </div>-->

<!--          </div>-->
          <div  class="right-align" >
            <a class="btn-floating btn-small waves-effect waves-light green modal-trigger " href="#demo-modal2-fixed-footer"><i class=" tiny material-icons">create</i></a>
              <a class="btn-floating btn-small waves-effect waves-light green modal-trigger " data-toggle="modal" data-target="#myModal">+</a> <Br>
            </div>
          <h6><b>Education </b><i class="  tiny material-icons "> input</i> </h6> <br>
                  <span>
<small><b><i class="fas fa-edit"></i> Add Post Graduation </small></b> <br>
<small><b><i class="fas fa-edit"></i>Add Under Graduation </small> </b> <br>
<small><b><i class="fas fa-edit"></i> Add 12th  </small> </b> <br>

<small><b><i class="fas fa-edit"></i> Add 10th </small> </b> <br>

</span>
<!--          <div class="row">-->
<!--            <div class="col s6">-->
<!--              <p>University of Delhi</p>-->
<!--            </div>-->
<!--            <div class="col s6">-->
<!--              <p> 2020-01-04 </p>-->
<!--            </div>-->

<!--            <div class="col s6">-->
<!--              <p>Delhi University</p>-->
<!--            </div>-->
<!--            <div class="col s6">-->
<!--              <p> 2017-01-04</p>-->
<!--            </div>-->

<!--            <div class="col s6">-->
<!--              <p>SMIT </p>-->
<!--            </div>-->
<!--            <div class="col s6">-->
<!--              <p> 2017-01-04</p>-->
<!--            </div>-->

<!--          </div>-->
        </div>
      </div>

      <div class="col l3 s12 m6 ">
        <div class="card-panel ">
          <span>
            <h6 class="center-align"> Contact Details</h6> <br>
            <small>
              <p> Email ID <i class="tiny material-icons left">email</i> info@joobsneeker.com </p>
            </small>
            <small>
              <p> Phone <i class="tiny material-icons left">phone_in_talk</i> +91 9434447967 </p>
            </small>
<!--            <small>-->
<!--              <p> Address <i class="tiny material-icons left">location_on</i> Ranipool majitar,732234</p>-->
<!--            </small>-->

            <div class="divider"></div>
            <br>
            <center>

            </center>
          </span>
        </div>
      </div>


      <div class="col s12 m12 l12 ">
        <div class="card-panel ">
          <span>
            <b>
              <h5 class="left-align"> Contact Details</h5>
            </b>
            <small>
              <p> please upload supported format png,docx </p>
            </small>
            <center>
              <div class='file file--uploading'>
                <label for='input-file'>
                  <i class="material-icons">attachment</i>Attach Resume
                </label>
                <input id='input-file' type='file' />
              </div>
            </center>
            </form>
          </span>
        </div>
      </div>


      <div class="col s12 m12 l12">
        <div class="card-panel ">
          <span>
            <b>
              <h5 class="left-align">Employment</h5>
            </b>


                    <span>
<small><b><i class="fas fa-edit"></i> Add Current Company </small></b> <br>
<small><b><i class="fas fa-edit"></i>Add previous Company </small> </b> <br>
<small><b><i class="fas fa-edit"></i> Add Internship </small> </b> <br>



</span>

<!--            <p> <b> DevOps Engineer </b> <i class="  tiny material-icons 2x"> input</i> </p>-->
<!--            <P>-->
<!--              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in est sagittis, vestibulum nisl sit amet,-->
<!--              ultrices lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus luctus pharetra.-->
<!--              Nullam malesuada elit sed est consectetur, lobortis placerat sem blandit. Etiam lacinia tempus felis,-->
<!--              vitae maximus augue pulvinar porttitor. Nam.-->
<!--            <div class="divider"></div>-->
<!--            </P>-->
<!--            <b>-->

<!--              <h8 class="left-align">Top 5 Key Skills-->
<!--          </span> </h8> </b>-->
<!--          <p> AWS DOCKER Jfrog Pipelines </p>-->
<!--          <p> <b> DevOps Engineer </b> <i class="  tiny material-icons 2x"> input</i> </p>-->

<!--          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in est sagittis, vestibulum nisl sit amet,-->
<!--          ultrices lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus luctus pharetra.-->
<!--          Nullam malesuada elit sed est consectetur, lobortis placerat sem blandit. Etiam lacinia tempus felis, vitae-->
<!--          maximus augue pulvinar porttitor. Nam.-->
<!--          <p> <b> DevOps Engineer </b> <i class="  tiny material-icons 2x"> input</i> </p>-->
<!--          <div class="divider"></div>-->
<!--          <P>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in est sagittis, vestibulum nisl sit amet,-->
<!--            ultrices lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus luctus pharetra.-->
<!--            Nullam malesuada elit sed est consectetur, lobortis placerat sem blandit. Etiam lacinia tempus felis, vitae-->
<!--            maximus augue pulvinar porttitor. Nam.-->

<!--          </P>-->
<!--          <b>-->
<!--            <h8 class="left-align">Top 5 Key Skills </span> </h8>-->
<!--          </b>-->
<!--          <p> AWS DOCKER Jfrog Pipelines </p>-->

<!--          <div class="divider"></div>-->
          </span>
        </div>
      </div>


      <div class="col s12 m12 l12">
        <div class="card-panel ">
          <h5 class="left-align">Career Profile </h5>

<!--              <p> Department  :Tech support </p>-->


<!--   <p> role:IT head</p>-->
<!--   <p> job type:Full Time</p>-->
<!--   <p> Desired salary:5.5 lakhs</p>-->
<!--    <p>Desired location:Jaipur</p>-->
<!--   <p> Total Experience:7 years</p>-->
<!--    <p>Resume Headline: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in est sagittis, vestibulum nisl sit amet,-->
<!--            ultrices lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus luctus pharetra.-->
<!--            Nullam malesuada elit sed est consectetur, lobortis placerat sem blandit. Etiam lacinia tempus felis, vitae-->
<!--            maximus augue pulvinar porttitor. Nam.</p>-->
<!--          <div class="row">-->

<!--            <div class="col s6">-->
<!--              <b>-->
<!--                <h5 class="left-align">Education </h5>-->
<!--              </b>-->
<!--              <p> UX / UI Designer</p>-->
<!--              <p> UX / UI Designer</p>-->
<!--              <p> UX / UI Designer</p>-->
<!--            </div>-->

<!--            <div class="col s6 ">-->
<!--              <b>-->
<!--                <h5 class="left-align">Education </h5>-->
<!--              </b>-->

<!--              <table class="responsive-table">-->
<!--                <tr>-->
<!--                  <th>Company</th>-->
<!--                  <th>Contact</th>-->
<!--                  <th>Country</th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <td>Alfreds Futterkiste</td>-->
<!--                  <td>Maria Anders</td>-->
<!--                  <td>Germany</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <td>Centro comercial Moctezuma</td>-->
<!--                  <td>Francisco Chang</td>-->
<!--                  <td>Mexico</td>-->
<!--                </tr>-->
<!--              </table>-->
<!--            </div>-->
<!--          </div>-->

        </div>


      </div>
            <div class="col s12 m12 l12">
        <div class="card-panel ">
          <h5 class="left-align">Personal Detail </h5>

<!--              <p> Birthday/birthmonth/birthyear :08/10/2000 </p>-->


<!--   <p> gender:Male</p>-->
<!--   <p> address:7,kardhani</p>-->
<!--   <p> city:Jaipur</p>-->
<!--    <p>state:302012</p>-->
<!--   <p> marital status:single</p>-->

<!--          <div class="row">-->

<!--            <div class="col s6">-->
<!--              <b>-->
<!--                <h5 class="left-align">Education </h5>-->
<!--              </b>-->
<!--              <p> UX / UI Designer</p>-->
<!--              <p> UX / UI Designer</p>-->
<!--              <p> UX / UI Designer</p>-->
<!--            </div>-->

<!--            <div class="col s6 ">-->
<!--              <b>-->
<!--                <h5 class="left-align">Education </h5>-->
<!--              </b>-->

<!--              <table class="responsive-table">-->
<!--                <tr>-->
<!--                  <th>Company</th>-->
<!--                  <th>Contact</th>-->
<!--                  <th>Country</th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <td>Alfreds Futterkiste</td>-->
<!--                  <td>Maria Anders</td>-->
<!--                  <td>Germany</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <td>Centro comercial Moctezuma</td>-->
<!--                  <td>Francisco Chang</td>-->
<!--                  <td>Mexico</td>-->
<!--                </tr>-->
<!--              </table>-->
<!--            </div>-->
<!--          </div>-->

        </div>


      </div>
    </div>
  </div>


  <div class="container center" >


      <!-- Modal Structure -->
      <div id="demo-modal-fixed-footer" class="modal modal-fixed-footer"  >

        <div class="modal-content">
          <div class="row">
           {{form3}}
          </div>


        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close btn green darken-1"> SAVE   </a>


          <a href="#!" class="modal-action modal-close btn red darken-1">  Exit</a>

        </div>
      </div>
    </div>
  </div>

      <!-- Modal Structure1 for skills -->


      <div class="container center" >


        <!-- Modal Structure -->
        <div id="demo-modal1-fixed-footer" class="modal modal-fixed-footer"  >

          <div class="modal-content">
            <caption> SKILL FORM</caption>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                  </div>
                </div>
              </form>
            </div>


          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn green darken-1"> SAVE   </a>


            <a href="#!" class="modal-action modal-close btn red darken-1">  Exit</a>

          </div>
        </div>
      </div>
    </div>



      <!-- Modal Structure1 for skills2 -->


      <div class="container center" >


        <!-- Modal Structure -->
        <div id="demo-modal2-fixed-footer" class="modal modal-fixed-footer"  >

          <div class="modal-content">
            <caption> Education</caption>
            <div class="row">
              <form class="col s12">
                <div class="row">
                    {{form6}}

                </div>
              </form>
            </div>


          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn green darken-1"> SAVE   </a>


            <a href="#!" class="modal-action modal-close btn red darken-1">  Exit</a>

          </div>
        </div>
      </div>




      <!-- Modal add Structure -->


      <div class="container center" >


        <div id="demo-modal3-fixed-footer" class="modal modal-fixed-footer"  >

          <div class="modal-content">
            <caption>  Add Education</caption>
            <form role="form" action="/wohoo" method="POST">

                <div class="multi-field-wrapper">
                  <div class="multi-fields">
                    <div class="multi-field">
                      <input type="text" name="stuff[]">
                      <button style = 'width:50%'  type="button" class="remove-field waves-effect waves-light btn">Remove </button> <br>
                    </div>
                     <br>
                  </div>
                <button  style = 'width:50%' type="button" class="add-field waves-effect waves-light btn">Add More</button>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn green darken-1"> SAVE   </a>


            <a href="#!" class="modal-action modal-close btn red darken-1">  Exit</a>

          </div>
        </div>
      </div>
      <div class="container center" >


        <div id="demo-modal5-fixed-footer" class="modal modal-fixed-footer"  >

          <div class="modal-content">
            <caption>  Add Skill </caption>
            <form class="form-horizontal" method="POST" action="">
              {% csrf_token %}
              {{ form5.management_form }}
              {% for form in form5 %}
          <div class="row form-row spacer">
              <div class="col-8">



                  <div class="input-group">
                    <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        {{form.skill}}
                        <label style="font-size: 20px;">{{form.skill.label}}</label>
                      </div>
                      <div class="input-field col s6">
                        <i class="material-icons prefix">star</i>
                        {{form.rating}}
                        <label style="font-size: 20px;">{{form.rating.label}}</label>
                      </div>

                      <div class="input-group-append">
                          <button class="btn btn-success add-form-row btn-small">+</button>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
          <br>
          <div class="row spacer">
              <div class="col-4 offset-2">
                  <button type="submit" class="btn btn-block btn-success btn-small">Create</button>
              </div>
          </div>
          </form>

          </div>


        </div>
      </div>

      <div class="container">
        
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>
      
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
               <form  method="post" action="">
    {% csrf_token %}
    {{ form3.designation }}
       
              
    <input type="submit" value="Submit">
</form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      















      
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
  </script>
</body>

<script>
  $('.multi-field-wrapper').each(function() {
    var $wrapper = $('.multi-fields', this);
    $(".add-field", $(this)).click(function(e) {
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
    });
    $('.multi-field .remove-field', $wrapper).click(function() {
        if ($('.multi-field', $wrapper).length > 1)
            $(this).parent('.multi-field').remove();
    });
});
</script>

<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('-');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

</script>
<style>
  #mf {
    width: 50%;
  }
  .btn {

    font-size: 10px;

  }

  h6,
  h5,
  h8 {
    color: rgb(15, 165, 23);
  }

  .btn {
    background-color: rgb(15, 165, 23);
  }

  .file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .file>input[type='file'] {
    display: none
  }

  .file>label {

    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: rgb(15, 165, 23);
    color: hsl(0, 0%, 29%);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .file--upload>label:active {
    background-color: rgb(15, 165, 23);
  }

  .file--uploading>label {
    color: hsl(127, 57%, 97%);
    border-color: rgb(15, 165, 23);
  }

  .file--uploading>label>i {
    animation: pulse 5s infinite;
  }

  .file--uploading>label:hover {
    border-color: hsl(101, 93%, 45%);
    background-color: hsl(115, 100%, 45%);
  }

  .file--uploading>label:active {
    background-color: hsl(48, 100%, 91%);
  }



  @keyframes pulse {
    0% {
      color: hsl(0, 0%, 85%);
    }

    50% {
      color: hsl(0, 0%, 100%);
    }

    100% {
      color: hsl(0, 0%, 100%);
    }
  }

  table,
  th,
  td {
    border: 0px solid rgb(255, 255, 255);
  }


  .alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

</style>

</html>