{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/style_skills.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
{% block mycss %}
<style>
  .job-left {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;

  overflow: auto;

  white-space: nowrap;
}
  .skills-right {
  margin-left: 25px;
}
.dropbtn {
  background-color: #FFFFFF;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #03A84E;}
</style>
{% endblock mycss %}

  </head>
  <body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
					<div class="top-navbar">
						<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="{% url 'jobseeker:jobseeker_home' %}">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <nav class="navbar mr-auto">
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Job Title" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </form>
</nav>



	<ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'jobseeker:jobseeker_home' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'jobseeker:AppliedJobs' %}">Applied</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'jobseeker:SavedJobs' %}">Saved</a>
      </li>

	  <li class="nav-item">
        <a class="nav-link" href="#">Resume</a>
      </li>

	  <li class="nav-item bell-icon">
        <a class="nav-link" href="#"><img src="{% static 'images/bell.png' %}"></a>
      </li>
         <li class="nav-item">
<div class="dropdown">
  <button class="dropbtn"><img src={{cp.profile_pic.url}}></button>
  <div class="dropdown-content">
    <a href="{% url 'jobseeker:profile' %}">My Profile</a>
    <a href="#">Edit Profile</a>
    <a href="#">Log Out</a>
  </div>
</div>
         </li>


	 </ul>

  </div>
</nav>
					</div>
				</div>
			</div>
		</div>

	</header>
    <section class="job-portal">
	<div class="container">
		<div class="row">

            <div class="col-md-3 col-12" >
				<div class="job-left">
  	{% for field in form1 %}
      <p style="color:grey">

          {{ field.label }}</p>
        <br><div class="wrap-input100" >


        {{ field }}
		 <span class="focus-input100"></span>
		  </div>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
                    </div>
			</div>

            <div class="col-md-9 col-12">
            <br>

				<div class="row">
						<div class="col-md-5 col-12">
							<div class="skills-right">
<h3>Educational detail</h3>
    {{ form2.management_form }}
{% for fom in form2 %}

<div class="row form-row spacer">
    <div class="col-2">

        <label>{{fom.label}}</label>
    </div>
    <div class="col-6">
        <div class="input-group2">
            {{fom}}
            </div>

            <div class="input-group2-append">
                <button class="btn btn-success add-form-row1">+</button>
            </div>

    </div>
</div>
{% endfor %}
                                </div>

						<div class="col-md-7 col-12">
							<div class="skills-right">
<h3>Professional detail</h3>
    {{ form3.management_form }}
{% for form in form3 %}

<div class="row form-row spacer">
    <div class="col-2">

        <label>{{form.label}}</label>
    </div>
    <div class="col-4">
        <div class="input-group1">
            {{form}}
            </div>

            <div class="input-group1-append">
                <button class="btn btn-success add-form-row2">+</button>
            </div>

    </div>
</div>
{% endfor %}
                                </div>
<h3>Resume detail</h3>
{% for field in form4 %}
      <p style="color:grey">

          {{ field.label }}</p>
        <br><div class="wrap-input100" >


        {{ field }}
		 <span class="focus-input100"></span>
		  </div>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
     <h3>Skills detail</h3>
    {{ form5.management_form }}
{% for form in form5 %}

<div class="row form-row spacer">
    <div class="col-2">

        <label>{{form.label}}</label>
    </div>
    <div class="col-4">
        <div class="input-group1">
            {{form}}
            </div>
            <div class="input-group1-append">

                <button class="btn btn-success add-form-row">+</button>

            </div>

    </div>
</div>
      {% endfor %}
   <h3>Expected detail</h3>

{% for field in form6 %}
      <p style="color:grey">

          {{ field.label }}</p>
        <br><div class="wrap-input100" >


        {{ field }}
		 <span class="focus-input100"></span>
		  </div>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
  </p>
    {% endfor %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('-');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.add-form-row1', function(e){
    e.preventDefault();
    cloneMore('.fom-row:last', 'fom');
    return false;
});
$(document).on('click', '.add-form-row2', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

</script>

</body>
</html>