<!--Resume designed by khushwant -->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form method="POST" action="">-->
<!--    {% csrf_token %}-->
<!--{{form}}-->
<!--<button type="submit">Create Resume</button> </form>-->
<!--</body>-->
<!--</html>-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Resume</title>
    <link rel="stylesheet" href="{% static 'css/ffcommon_v103.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stylemod.css' %}">
    <link rel="stylesheet" href="{% static 'css/elCommon_v1.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/resumeWriting_v8.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/images/green.png">
    
    <link type="text/css" rel="stylesheet" href="{% static 'css/style13.css' %}">
    {% comment %} <link type="text/css" rel="stylesheet" href="{% static 'plugins1.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/main.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <style>
        .btn {
            border-color: goldenrod;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 10px 30px;
        }
    </style>
    <style>
        .dropbtn {
            background-color: #FFFFFF;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content a:hover {
            background-color: #ddd;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .dropdown:hover .dropbtn {
            background-color: #03A84E;
        }
        
        .job-left.job-left-images-new img {
            width: 270px;
            height: 270px;
            border-radius: 50%;
        }
        
        .job-left-desc {
            background: rgba(255, 255, 255, 1);
            box-shadow: 0 0px 50px 0px rgb(0 0 1 / 25%);
        }
        
        .job-left.job-left-images-new {
            position: relative;
        }
        
        .job-left.job-left-images-new:after {
            content: "";
            position: absolute;
            background: #fff;
            top: 22%;
            left: 0;
            width: 100%;
            height: 30%;
            z-index: -1;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0 0px 50px 0px rgb(0 0 1 / 25%);
        }
        
        .job-left.job-left-images-new {
            background: transparent;
            box-shadow: none;
        }
        
        .job-left-desc {
            background: rgba(255, 255, 255, 1);
            box-shadow: 0 39px 50px 0px rgb(0 0 1 / 14%);
        }
    </style>

</head>

{% if request.user.is_candidate %}
<header style="background: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="top-navbar">
                    <nav class="navbar navbar-expand-lg" style="padding: 0rem 0rem; ">
                        <a class="" href="{% url 'jobseeker:jobseeker_home' %}"><img src="{% static 'images/green.png' %} " width="60" height="60"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <nav class="navbar mr-auto" style="margin-right: 125px;     display: contents;">
                                <form class="form-inline" type="get" style="margin-inline: auto;    width: 50%;">
                                    <div class="input-group" style="box-shadow: 0px 0px 14px 3px lightgrey;padding: inherit;border-radius: 10px;margin: 15px;padding: 2px;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true" style="margin: 10px;"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="search_box" name="search_box" placeholder="Job Title" aria-label="Username" aria-describedby="basic-addon1" style="width: 350px;background: none;
                                        margin: auto;
                                        border: none;">
                                    </div>
                                </form>
                            </nav>



                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'jobseeker:jobseeker_home' %}" style="text-align: center;padding: 0rem 0rem;"><i class="fa fa-home" aria-hidden="true" style="font-size: 27px;"></i></a>
                                    <span class="menu-text">Home</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'jobseeker:AppliedJobs' %}" style="text-align: center;padding: 0rem 0rem;"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                                    <span class="menu-text">Applied</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'jobseeker:SavedJobs' %}" style="text-align: center;padding: 0rem 0rem;"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                                    <span class="menu-text">Saved</span>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'jobseeker:resume' %}" style="text-align: center;padding: 0rem 0rem;"><i class="fa fa-id-card" aria-hidden="true"></i></a>
                                    <span class="menu-text">Resume</span>
                                </li>

                                <li class="nav-item bell-icon">
                                    <a class="nav-link" href="#" style="text-align: center;padding: 0rem 0rem;"><img src="{% static 'images/bell.png' %}"></a>
                                    <span class="menu-text">Notification</span>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="dropbtn">
                                            <img style="background-color: black;"src="/static/images/green.png">
                                            <!-- <img src={{cp.profile_pic.url}}> -->
                                        </button>
                                        <div class="dropdown-content">
                                            <a href="{% url 'jobseeker:profile' %}">My Profile</a>
                                            <a href="{% url 'jobseeker:ProfileEdit' %}">Edit Profile</a>
                                            <a href="{% url 'jobseeker:logout' %}">Log Out</a>
                                        </div>
                                    </div>
                                </li>


                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</header>
{%else%}
<header>
    <div class="container" style="max-width: inherit; background-color:white">
        <div class="row" style="margin-bottom:-25px">
            <div class="col-md-12 col-12" style="box-shadow: 10px 10px 41px -20px grey;">
                <div class="top-navbar">
                    <nav class="navbar navbar-expand-lg " style="margin-bottom: auto;">
                        <a href="http://ec2-54-184-90-146.us-west-2.compute.amazonaws.com/"><img src="{% static 'images/green.png' %} " width="60" height="60"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item ">
                                    <a class="nav-link" href="http://ec2-54-184-90-146.us-west-2.compute.amazonaws.com/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#work-main">How it works</a>
                                </li>
                                <!--	  <li class="nav-item">-->
                                <!--        <a class="nav-link" href="#">Testimonial</a>-->
                                <!--      </li>-->

                            </ul>


                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'jobseeker:resume' %}"> Build Resume</a>
                                </li>
                                {% comment %} <li class="nav-item button" style="border-start-end-radius: 0px 0px;border-end-start-radius: 0px 63px; background:#2cd177">
                                    <a class="nav-link" href="#" data-toggle="modal" data-target="#recruitermodal">Recruiter Login</a>
                                </li> {% endcomment %}
                                <li class="nav-item button" style="border-start-end-radius: 0px 0px;border-end-start-radius: 0px 63px; background:#2cd177">
                                    <a class="nav-link" href="#" data-toggle="modal" data-target="#jobseekermodal">Jobseeker Login</a>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    
</header>

{% endif %}

<body style="background-color: grey;">
    
    <div class="bannerTxt banr">

        <div class="wrap bannerPos bannerPosRW">
            <div class="heroLine fadeInLeft pd" style="width: 1000px;">
                <h1 class="font_26" style="color: white; ">
                    The perfect Resume is a gateway to the Right Job. Highlight your achievelemts, education and expertise with <span class="bolder" style="color:#89fabc">Workadapter Professional Resume.</span></h1>
                <h2 id="heading" class="videoText">
                    At <span class="bolder" style="color:#89fabc">Workadapter</span> you can avail our professional Resume Writing Service to make your resume stand from the others. Our Resume Services help job seekers belonging to varied industries,
                    professional experience and positions land the right job. We specialize in resume writing; thus, presenting your achievements, skills and education in the most effective manner.
                </h2>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button id='b1' style="border-color: #03A84E;" name="b1" value="2,500" type="button" class="btn btn-light" onclick="openCity('London'); gfg_Run()">ENTRY-LEVEL<br><span>(Exp: 0-4 years)</span></button>
                <button id='b2' style="border-color: #03A84E;" name="b2" value="1,500" type="button" class="btn btn-light" onclick="openCity('Paris'); gfg_Run()">MID-LEVEL<br><span>(Exp:  4-7 years)</span></button>
                <button id='b3' style="border-color: #03A84E;" name="b3" value="3,500" type="button" class="btn btn-light" onclick="openCity('Tokyo'); gfg_Run()"> SENIOR-LEVEL<br><span>(Exp: 7 + years)</span></button>
                <!-- <button id='b4' style="border-color: #03A84E;" name="b4" value="4,500" type="button" class="btn btn-light" onclick="openCity('Maxico'); gfg_Run()"> EXECUTIVE-LEVEL<br><span>(Exp: 15 years and above)</span></button> -->

            </div>
        </div>
        <section class="promoMessage" style="background:#57c488">
            <div class="wrap promoCont" style="background:#57c488">
                Payment structure and features for Jobseeker resume service as well as employer
            </div>
        </section>

        <div class="bgwhite clr smlSpace" id="forTop">
            <div class="wrap">
                <div class="fadeInRight">
                    <div class="servicePageMainHdCont">
                        <div id="shortDesc" class="dspN">
                            <h2 class="bluContntHd ">Showcase your experience and goals with a resume tailored for your profile</h2>
                            <p class="introTxt">Get our experts to write your resume</p>
                            <p class="introTxt">We customise your resume to highlight your accomplishments and experience. Relevant keywords are included in an effective structure to help advance your job search.</p>
                        </div>
                        <div id="benefitChart">
                            <div class="bluContntHd">Buy Workadapter Professional Resume Service</div>
                        </div>
                        <table cellspacing="0" cellpadding="0" class="benefitChartTable">
                            <tr>
                                <th> Benefits/Advantage </th>
                                <th> Free User </th>
                                <th class="premiumBenefit">
                                    <p class="premiumBenefitTxt" style="padding:8px">
                                        Paid User </p>
                                </th>
                            </tr>
                            <tr>
                                <td>Apply to Jobs on Workadapter with resume</td>
                                <td class="benefitGiven"><i class="tickIc">yes</i></td>
                                <td class="benefitGiven"><i class="tickIc">yes</i></td>
                            </tr>
                            <tr>
                                <td>Handwritten resume from our professional writers</td>
                                <td class="noBenefits"><i class="crossIc">No</i></td>
                                <td class="benefitGiven"><i class="tickIc">yes</i></td>
                            </tr>
                            <tr>
                                <td>Detailed resume analysis</td>
                                <td class="noBenefits"><i class="crossIc">No</i></td>
                                <td class="benefitGiven"><i class="tickIc">yes</i></td>
                            </tr>
                            <tr>
                                <td>Know your strengths and weaknesses from Workadapter experts</td>
                                <td class="noBenefits"><i class="crossIc">No</i></td>
                                <td class="benefitGiven"><i class="tickIc">yes</i></td>
                            </tr>
                            <tr>
                                <td>Custom resume description which will improve visual appeal of resume </td>
                                <td class="noBenefits"><i class="crossIc">No</i></td>
                                <td class="benefitGiven"><i class="tickIc">yes</i></td>
                            </tr>
                            <tr>
                                <td>Verified Stamp </td>
                                <td class="noBenefits"><i class="crossIc">No</i></td>
                                <td class="benefitGiven"><i class="tickIc">yes</i></td>
                            </tr>
                            <tr>
                                <td>Resume Highlighter</td>
                                <td class="noBenefits"><i class="crossIc">No</i></td>
                                <td class="benefitGiven"><i class="tickIc">Yes</i></td>
                            </tr>
                            <tr>
                                <td>Guarantee Interview and Job from Recruiter</td>
                                <td class="noBenefits"><i class="crossIc">No</i></td>
                                <td class="noBenefits"><i class="crossIc">No</i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="fr subscriptionCont">
                        <p class="txtCentr pb10 font_16">Buy Workadapter Professional Resume Service</p>
                        <div class="subscription">
                            <!-- <div class="cartSlectWhite">
                                <div id="ExpLvl" style="display:none"><span class="font_16 subsTxt">Choose Experience:  </span><input type="hidden" id="expLvl" />
                                    <div class="singleDD" id="mappedservice">
                                        <div class="dWrap"><input class="sdTxt" type="text" name="abc" /><span class="gryArwIc smArw"></span></div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="cartPriceTot" id="cost1"><span class='rupee28 rupeeGrey'></span><span id="cost"></span>
                                <div id="London" class="w3-container city">
                                    <div style="background:white; padding: 10px; ">
                                        <h3>&#x20B9; 1,000*</h3>
                                        <p class="inclTxt">(Inclusive of all taxes)</p>
                                    </div>
                                    <span class="pd dspB" style="margin-bottom: -20px;">Delivery Options:</span>
                                    <form method="POST" action="">
                                        <div style="text-align: center; font-size:15px; margin: 15px;">
                                            8 Working days
                                            <!-- {% csrf_token %} {{form3.delivery_type_senior}} -->
                                        </div>
                                        <a type="button" style="background: green;border-color: green;" href="{% url 'jobseeker:builtresume' %}" class="btn btn-success">Buy Now</a>
                                    </form>
                                    <!--                                <p><input type="radio" name="delivry" value="regular" onclick="ffSrvHdl.changeRWService();" checked='checked' /><span class="txtBlue">Regular</span> 8 working days</p>-->
                                    <!--                                <p><input type="radio" name="delivry" value="exprs" onclick="ffSrvHdl.changeRWService();" /><span class="txtBlue">Express</span> 4 working days(-->
                                    <!--                                    <span class='rupee13'></span><span id="exprsPrc">1250</span>)-->
                                    <!--                                </p>-->
                                    <!--                                <p><input type="radio" name="delivry" onclick="ffSrvHdl.changeRWService();" value="sexprs" /><span class="txtBlue">Super Express</span> 2 working days(-->
                                    <!--                                    <span class='rupee13'></span><span id="sexprsPrc">2300</span>)-->
                                    <!--                                </p>-->

                                    <!--                                <div class="txtCentr mTop"><a href="javascript:void(0);" id="cartstatus" class="red_btnBig">Buy Now</a><a id="alreadyincart" href="https://resume.naukri.com/payment" class="red_btnBig" style="display:none">Buy Now</a></div>-->
                                    <div class="tncText" id="showTnc">By clicking on Buy Now, I authorize Naukri to call me regarding its services</div>

                                </div>

                                <div id="Paris" class="w3-container city" style="display:none">
                                    <div style="background:white; padding: 10px;">
                                        <h3>&#x20B9; 1,800*</h3>
                                        <p class="inclTxt">(Inclusive of all taxes)</p>
                                    </div>
                                    <span class="pd dspB" style="margin-bottom: -20px;">Delivery Options:</span>
                                    <form method="POST" action="">
                                        <div style="text-align: center; font-size:15px; margin: 15px;">
                                            8 Working days
                                            <!-- {% csrf_token %} {{form3.delivery_type_senior}} -->
                                        </div>
                                        <button type="button" style="background: green;border-color: green;" class="btn btn-success">Buy Now</button>
                                    </form>
                                    <!-- <form method="POST" action="">
                                        <div style="text-align: start">
                                            {% csrf_token %} {{form2.delivery_type_Mid}}
                                        </div>
                                        <button type="button" style="border-color: #03A84E;" class="btn btn-success">Success</button>
                                    </form> -->
                                    <!--                                <p><input type="radio" name="delivry" value="regular" onclick="ffSrvHdl.changeRWService();" checked='checked' /><span class="txtBlue">Regular</span> 8 working days</p>-->
                                    <!--                                <p><input type="radio" name="delivry" value="exprs" onclick="ffSrvHdl.changeRWService();" /><span class="txtBlue">Express</span> 4 working days(-->
                                    <!--                                    <span class='rupee13'></span><span id="exprsPrc">1250</span>)-->
                                    <!--                                </p>-->
                                    <!--                                <p><input type="radio" name="delivry" onclick="ffSrvHdl.changeRWService();" value="sexprs" /><span class="txtBlue">Super Express</span> 2 working days(-->
                                    <!--                                    <span class='rupee13'></span><span id="sexprsPrc">2300</span>)-->
                                    <!--                                </p>-->

                                    <!--                                <div class="txtCentr mTop"><a href="javascript:void(0);" id="cartstatus" class="red_btnBig">Buy Now</a><a id="alreadyincart" href="https://resume.naukri.com/payment" class="red_btnBig" style="display:none">Buy Now</a></div>-->
                                    <div class="tncText" id="showTnc">By clicking on Buy Now, I authorize Naukri to call me regarding its services</div>

                                </div>

                                <div id="Tokyo" class="w3-container city" style="display:none">
                                    <div style="background:white; padding: 10px;">
                                        <h3>&#x20B9; 2,500*</h3>
                                        <p class="inclTxt">(Inclusive of all taxes)</p>
                                    </div>
                                    <span class="pd dspB" style="margin-bottom: -20px;">Delivery Options:</span>
                                    <form method="POST" action="">
                                        <div style="text-align: center; font-size:15px; margin: 15px;">
                                            8 Working days
                                            <!-- {% csrf_token %} {{form3.delivery_type_senior}} -->
                                        </div>
                                        <button type="button" style="background: green;border-color: green;" class="btn btn-success">Buy Now</button>
                                    </form>
                                    <!--                                <p><input type="radio" name="delivry" value="regular" onclick="ffSrvHdl.changeRWService();" checked='checked' /><span class="txtBlue">Regular</span> 8 working days</p>-->
                                    <!--                                <p><input type="radio" name="delivry" value="exprs" onclick="ffSrvHdl.changeRWService();" /><span class="txtBlue">Express</span> 4 working days(-->
                                    <!--                                    <span class='rupee13'></span><span id="exprsPrc">1250</span>)-->
                                    <!--                                </p>-->
                                    <!--                                <p><input type="radio" name="delivry" onclick="ffSrvHdl.changeRWService();" value="sexprs" /><span class="txtBlue">Super Express</span> 2 working days(-->
                                    <!--                                    <span class='rupee13'></span><span id="sexprsPrc">2300</span>)-->
                                    <!--                                </p>-->

                                    <!--                                <div class="txtCentr mTop"><a href="javascript:void(0);" id="cartstatus" class="red_btnBig">Buy Now</a><a id="alreadyincart" href="https://resume.naukri.com/payment" class="red_btnBig" style="display:none">Buy Now</a></div>-->
                                    <div class="tncText" id="showTnc">By clicking on Buy Now, I authorize Naukri to call me regarding its services</div>

                                </div>

                                <div id="Maxico" class="w3-container city" style="display:none">
                                    <h3>&#x20B9; 4,500*</h3>
                                    <p class="inclTxt">(Inclusive of all taxes)</p>
                                    <span class="pd dspB">Delivery Options:</span>
                                    <form method="POST" action="">
                                        <div style="text-align: start">
                                            {% csrf_token %} {{form4.delivery_type_Executive}}
                                        </div>
                                        <button type="button" style="background: green; border-color: green;" class="btn btn-success" style="text-align:center">Success</button>
                                    </form>
                                    <!--                                <p><input type="radio" name="delivry" value="regular" onclick="ffSrvHdl.changeRWService();" checked='checked' /><span class="txtBlue">Regular</span> 8 working days</p>-->
                                    <!--                                <p><input type="radio" name="delivry" value="exprs" onclick="ffSrvHdl.changeRWService();" /><span class="txtBlue">Express</span> 4 working days(-->
                                    <!--                                    <span class='rupee13'></span><span id="exprsPrc">1250</span>)-->
                                    <!--                                </p>-->
                                    <!--                                <p><input type="radio" name="delivry" onclick="ffSrvHdl.changeRWService();" value="sexprs" /><span class="txtBlue">Super Express</span> 2 working days(-->
                                    <!--                                    <span class='rupee13'></span><span id="sexprsPrc">2300</span>)-->
                                    <!--                                </p>-->

                                    <!--                                <div class="txtCentr mTop"><a href="javascript:void(0);" id="cartstatus" class="red_btnBig">Buy Now</a><a id="alreadyincart" href="https://resume.naukri.com/payment" class="red_btnBig" style="display:none">Buy Now</a></div>-->
                                    <div class="tncText" id="showTnc">By clicking on Buy Now, I authorize Naukri to call me regarding its services</div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="jobseekermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width: fit-content;background-color: white;width: auto;padding: inherit;">
                    <div class="modal-header theme-bg full-width" style="padding-left: 33px;min-width: 458px;">
                        <h5 class="modal-title" id="exampleModalLabel" style="color:white;font-weight: bold;">Jobseeker Login</h5>
                        <button type="button" class="close" data-dismiss="modal" style="line-height: normal;padding-top: 9px;font-size: x-large;padding-right: 40px;" aria-label="Close">
                                <span aria-hidden="true"style="color:white">&times;</span>
                                </button>
                    </div>
                    <div class="modal-body" style="padding: 0px;">
                        <div class="new-logwrap" style="width: auto;padding: 36px;">
                            <!-- <div class="form-group">
                                        <label>Username</label>
                                        <div class="input-with-icon">
                                            <input type="text" class="form-control" placeholder="Enter Your Username">
                                            <i class="theme-cl ti-user"></i>
                                        </div>
                                    </div> -->
                            <form class="login-recruiter" action="{% url 'jobseeker:jobseeker/login' %}" method="POST">
                                {% csrf_token %}{% for message in messages %}
                                <p id="messages" style="color:rgb(153, 9, 9);" class="alert ">{{message}}</p>
                                {% endfor %}
                                <div class="form-group" style="    padding: 5px 5px 5px;">
                                    <label>Email</label>
                                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                                        <input class="input100" style="border-radius: 5px;margin-bottom: -19px;" type="text" name="username" placeholder="Email/MobileNo." required>
                                        <span class="focus-input100"></span>
                                    </div>
                                </div>

                                <div class="form-group" style="    padding: 5px 5px 5px;">
                                    <label>Password</label>
                                    <div class="wrap-input100 validate-input" data-validate="Please enter password">
                                        <input class="input100" style="border-radius: 5px;margin-bottom: -19px;" type="password" name="pass" placeholder="Password" required>
                                        <span class="focus-input100"></span>
                                    </div>
                                    {% if request.GET.next %}
                                    <input type="hidden" name="next" value="{{request.GET.next}}"> {% endif %}
                                    <br>
                                </div>

                                <!-- <div class="form-groups">
                                            <input type="submit" name="recruiter-login" class="btn btn-primary theme-bg full-width" value="Login" role="button">
                                        </div> -->
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn" style="border-radius: 5px;" type="submit">
                                                Login
                                            </button>
                                </div>
                            </form>

                            <!-- <div class="forget-account text-center">
                                        <a class="theme-cl" href="#">Forget Password?</a>
                                    </div> -->

                            <!-- <div class="register-account text-center">
                                        Don't have an account? <a class="theme-cl" href="register-recruiter.php">Register</a>
                                    </div> -->
                            <div class="flex-col-c p-t-80 p-b-40">
                                <a href="{% url 'jobseeker:reset_password' %}" class="txt0" style="color:green;">
                                            Forgot Password?
                                        </a>

                                <span class="txt1 p-b-9">
                                            Don’t have an account?
                                            <a href="{% url 'jobseeker:jobseeker/register' %}" class="txt3">
                                            Register
                                            </a>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script>
            function openCity(cityName) {
                var i;
                var x = document.getElementsByClassName("city");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                document.getElementById(cityName).style.display = "block";
            }
        </script>
        <script>
            let btnb1 = document.querySelector("#b1")
            let btnb2 = document.querySelector("#b2")
            let btnb3 = document.querySelector("#b3")
            let btnb4 = document.querySelector("#b4")


            btnb1.addEventListener('click', () => btnb1.style.color = "#2dc06d")


            btnb1.addEventListener('click', () => btnb2.style.color = "black")
            btnb1.addEventListener('click', () => btnb3.style.color = "black")
            btnb1.addEventListener('click', () => btnb4.style.color = "black")

            btnb2.addEventListener('click', () => btnb2.style.color = "#2dc06d")

            btnb2.addEventListener('click', () => btnb1.style.color = "black")
            btnb2.addEventListener('click', () => btnb3.style.color = "black")
            btnb2.addEventListener('click', () => btnb4.style.color = "black")

            btnb3.addEventListener('click', () => btnb3.style.color = "#2dc06d")

            btnb3.addEventListener('click', () => btnb2.style.color = "black")
            btnb3.addEventListener('click', () => btnb1.style.color = "black")
            btnb3.addEventListener('click', () => btnb4.style.color = "black")

            btnb4.addEventListener('click', () => btnb4.style.color = "#2dc06d")

            btnb4.addEventListener('click', () => btnb2.style.color = "black")
            btnb4.addEventListener('click', () => btnb3.style.color = "black")
            btnb4.addEventListener('click', () => btnb1.style.color = "black")
        </script>
</body>

</html>