{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href=" {% static 'css/style12.css'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

  </head>
  <body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
					<div class="top-navbar">
						<nav class="navbar navbar-expand-lg ">
  <a class="" href="#"><img src="{% static 'images/green.png' %} " width="60" height="60"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <nav class="navbar mr-auto">
  <form class="form-inline new-form">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Job Title" aria-label="Username" aria-describedby="basic-addon1">
	  <button class="search">Search</button>
    </div>
  </form>
</nav>


	<ul class="navbar-nav ml-auto">
	<li class="nav-item ">
    <a class="nav-link" href="{% url 'recruiter:employer_home' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
    <span class="menu-text">Home</span>
  </li>
     <li class="nav-item ">
    <a class="nav-link" href="{% url 'recruiter:job_post' %}"><i class="fas fa-briefcase"></i></a>
    <span class="menu-text">Add job </span>
  </li>
<!--	  <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Resume</a>-->
<!--      </li>-->
<li class="nav-item ">
    <a class="nav-link " href="#"><i class="fas fa-phone-square-alt fa-xs"></i></a>
    <span class="menu-text">Contact Us </span>
  </li>

<li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-address-card fa-2x"></i></a>
    <span class="menu-text">About Us </span>
  </li>

<li class="nav-item bell-icon ">
    <a class="nav-link" href="#"><i class="fa fa-bell" aria-hidden="true"></i> </a>
    <span class="menu-text">Notification</span>
  </li>

	  <li class="nav-item">
        <a class="nav-link" href="#"><img src="images/job-portal/78a389427595e07efd8a3870fe50c28c.jpg"></a>
      </li>

	 </ul>

  </div>
</nav>
					</div>
				</div>
			</div>
		</div>

	</header>

<section class="advance-search">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-12 mx-auto">
				<div class="adv-search-form">
					<form>
					<div class="search-form">
						<div class="form-group">
							<input type="text" placeholder="job title" id="job_title" name="job_title" >
							<i class="fa fa-search" aria-hidden="true"></i>
						</div>
						<div class="form-group">
							<select id="location" name="location" >
								<option>Location</option>
								<option>Delhi</option>
							</select>
						</div>
						<div class="form-group">
							<select id="experience" name="experience" >
								<option>Experience</option>
								<option>1 Year</option>
							</select>
						</div>
						<div class="form-group">
							<select id="job_type" name="job_type" >
								<option>Job Type</option>
								<option>1 Year</option>
							</select>
						</div>

						</div>
						<div class="form-btns">
							<button>Search</button>
							<button>Advance Search</button>
						</div>
						
					</form>
				</div>	
				
				
			<div class="advanced-search-body">
				<div class="search-body">
					<div class="search-body-header">
						<h2>Advance Search <span><img src="images/cross.png"></span></h2>
					</div>
					
					<div class="search-search-body">
						<h3>Enter Any Keyword</h3>
							<ul>
								<li>Software</li>
								<li>CEO</li>
								<li>director, manager</li>
								<li>Software Developer</li>
								<li>Front -end Developer</li>
								<li>Front -end Developer</li>
								<li>Webflow</li>
								<li>Back -end Developer</li>
								<li>Wordpress</li>
								<li>Manager Director</li>
								<li class="desk"><input type="text" placeholder="Type your key word  +"></li>
								<li class="mob"><input type="text" placeholder="Type your key word "></li>
								
							</ul>
							
							
							<h3>Total Experience</h3>
							
						<div class="select-option-experience">
							<div class="select-option-experience-first">
								<select>
									<option>Minimum</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
								<select>
								</div>
								<span class="to">to</span>
								<div class="select-option-experience-first">
								<select>
									<option>To Maximum</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
								<select>
							</div>
						</div>
							
							<h3>Annual Salery <span class="usd">USD <select></select></span></h3>
							
						<div class="select-option-salery">
						<div class="select-option-experience-first">
								<select>
									<option>Lacs</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
								<select>
								</div>
								<div class="select-option-experience-first">
								<select>
									<option>Thousand</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
								<select>
								</div>
								<span class="to">to</span>
							<div class="select-option-experience-first">
								<select>
									<option>Lacs</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
								<select>
								</div>
								<div class="select-option-experience-first">
								<select>
									<option>Thousand</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
								<select>
								</div>
							</div>
							
					
					</div>
					
					<div class="search-body-footer">
						<div class="search-body-footer-left">
							<button><i class="fa fa-search" aria-hidden="true"></i> Search</button>
							<span>Clear x</span>
						</div>
						
						<div class="search-body-footer-right">
							<p><span>Active in:</span>
							<select>
								<option>30 days</option>
								<option>30 days</option>
							</select>
							
							<span class="question"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
							</p>
						</div>
						
						
					</div>
					
				</div>				
			
			</div>			
				
				
				
			</div>	
		</div>	
	</div>	
</section>


<footer>
<p>Footer section</p>
</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>