{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style12.css'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

  </head>
  <body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
					<div class="top-navbar">
						<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="#">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <nav class="navbar mr-auto">
  <form class="form-inline new-form">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Job Title" aria-label="Username" aria-describedby="basic-addon1">
	  <button class="search">Search</button>
    </div>
  </form>
</nav>


	<ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'recruiter:employer_home' %}">Home</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="#">Saved</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="#">Resume</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>

	  <li class="nav-item bell-icon">
        <a class="nav-link" href="#"><img src="{% static 'images/bell.png' %}"></a>
      </li>

	  <li class="nav-item">
        <a class="nav-link" href="#"><img src="{% static 'images/job-portal/78a389427595e07efd8a3870fe50c28c.jpg' %}"></a>
      </li>

	 </ul>

  </div>
</nav>
					</div>
				</div>
			</div>
		</div>

	</header>
        <section class="job-portal all-jobs">
	<div class="container main-wid">
		<div class="row">
			<div class="col-md-10 col-12 mx-auto">
				<div class="heading">
  <h2>Candidate Applied</h2>
    <h3>{{job.job_title}}</h3>
</div>
                <a class="btn btn-primary" href="{% url 'recruiter:shortlist_view_applied_candidate' job.pk %}" role="button">shorlist view</a>
    <a class="btn btn-primary" href="{% url 'recruiter:disqualify_view_applied_candidate' job.pk %}" role="button">disqualify view</a>

			</div>


    {% for c in candidate %}
    {% if c.6.is_shortlisted %}
    {% elif c.6.is_disqualified %}
    {% else %}
   <div class="col-md-9 col-12">

				<div class="job-right all-job-rights">
					<div class="job-right-jobs">
					<input type="checkbox" placehlder="check">

						<div class="job-right-jobs-image">

						<img src={{c.0.profile_pic.url}}>
						<div class="jobs-main">
							<div class="text-jobs">
                              <h5>{{c.5.first_name}} {{c.5.last_name}}</h5>

  <ul class="list-inline">

									<li><img src="{% static 'images/suitcase.png' %}">{{c.7.Total_Working}}</li>

									<li><img src="{% static 'images/money.png' %}"> {{c.7.exp_salary}}</li>
									<li><img src="{% static 'images/location.png' %}"> {{c.7.prefer_location}}</li>
								</ul>
							</div>
                            </div>
					</div>
               <div class="info">
							<div class="info-left">
								<ul class="list-inline">
                           	<li><img src="{% static 'images/mail.png' %}"> Email ID: <span>{{c.0.user_id}}</span></li>
<!--									<li><img src="images/phone.png"> Phone no. : <span>(252) 555-0126</span></li>-->
									<li><img src="{% static 'images/location.png' %}"> Location : <span>{{c.0.address}}</span></li>
<!--									<li><img src="images/educa.png">Education :  <span>Software Engineering, MBA in.... </span></li>-->

								</ul>
							</div>
                   <div class="info-right">
								<h3>Skills</h3>
								<p>{% for s in c.3 %}
                                {{s.skill}}({{s.rating}}),
                                    {% endfor %}
                                </p>
							</div>
						</div>
<div class="download">
							<button><a href="{{c.4.coverletter_link.url}}" ><img src="{% static 'images/download1.png' %}">Download Cover Letter</a></button>
							<button><a href="{{c.4.resume_link.url}}"><img src="{% static 'images/download2.png' %}">Download Resume</a></button>
<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
      <div class="collapse" id="collapseExample">

  <div class="card card-body">
    {% for q,a in qna %}
    <div>{{q.question}}</div>
    {{a.answer}}
    {% endfor %}
  </div>
</div>

    <a class="btn btn-primary" href="{% url 'recruiter:disqualify' c.6.pk %}" role="button">disqualify</a>				</div>



</div>





    {% endif %}
                    {% endfor %}

             </div>

</div>

			</div>
	</div>
</section>


<footer>
<p>Footer section</p>
</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
